<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kalicodextu Blog！</title>
</head>

<body>
    <form action="/blog/create" method="post">{% csrf_token %} 
        <!-- Titile:
        <input type="text" name="title"><br> 
        Author:
        <input type="text" name="author"><br> 
        Body:
        <textarea name="body" cols="60" rows="3"></textarea><br>
        <input type="submit"> -->
        <table>{{ form }}</table><br>
        <input type="submit">
    </form>
    <hr> {% for post in posts %}
    <h2>{{post.title|title}}</h2>
    <p>{{post.author}}</p>
    <p>{{post.body}}</p>
    <p>{{post.timestamp}}</p>
    <hr> {% endfor %}
</body>

</html>